// MARGIN
$margin: 10px;

// PADDING
$padding: 10px;

// BORDER
$borderSize: 1px;
$borderRadius: 10px;

// SIZES
$buttonHeight: 56px;
$buttonSmallHeight: 40px;
$buttonFontSize: 20px;

// COLORS
$primaryColor: #ED5145;
$secondaryColor: #F0F0F0;

// EXTRA COLORS
$borderColor: darken($secondaryColor, 10%);
$darkGray: #504747;